*{
    margin: 0;
    padding: 0;
    font-family: 'Genearl Sans Medium';
    /* box-sizing: border-box;Box size added */
}
html,body{
    background-color: #6ED6A1;
}
.box.yellow{
    background-color: #FEB231;
}
.box.red{
    background-color: #CF444F;
}
.box.white{
    color: black;
    background-color: #FEFFFE;
}
.box.purple{
    background-color: #965FB2;
}
.box.green{
    background-color: #0D9A8A;
}
.box.blue{
    background-color: #1975BE;
}
.container{
    box-sizing: border-box;
    margin: auto;
    width: fit-content;
    position: absolute;
    top: 8%;
    right: 2%;
    left: 2%;
    background-color: #2FB671;
    padding: 10px;
    box-shadow: 0px 0px 125px -14px rgba(56,31,241,0.75);
    -webkit-box-shadow: 0px 0px 125px -14px rgba(56,31,241,0.75);
    -moz-box-shadow: 0px 0px 125px -14px rgba(56,31,241,0.75);
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.heading{
    margin: auto;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center; 
}
h1{
    color: white;
    z-index: 9999;
}
.white-border{
    border: 3px solid darkblue;
}
.parent {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border: 5px solid white;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    outline: none;
    border: 0.000px solid black;
    background-color: #2a99af;
    padding: 17px;
    color: #fff;
    font-weight: bold;
}
.players-box{
    margin: 5px;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    background-color: rgb(252, 252, 252);
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.sum img{
    width: 90px;
    mix-blend-mode: luminosity;
    -webkit-transform: rotate(180deg);
    transition: all .7s;
}
.ladder img{
    -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
    width: 150px;
}
.ladder{
    position: absolute;
    transform: rotate(9deg);
    bottom: 4%;
    left: 41%;
}
.dice{
    margin: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.dice .btn a{
    margin-top: 12px;
    text-decoration: none;
    margin: 0px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 18px 24px;
    color: #3b1d1d;
    background-color: #f8e623;
}
.dice .btn{
    margin-top: 23px;
    cursor: pointer;
    color: aliceblue;
    background-color: #f8e623;
    font-size: 20px;
    font-weight: 900;
}
.dice .btn:hover{
    background-color: #569c1c;
}
.circle{
    width: 30px;
    height: 30px;
    color: white;
    font-weight: bolder;
    background: rgba(0,0,0,0.5);/*turquoise*/
    border-radius: 50%;
    transform: translateY(-46px) translateX(17px);
    transition: all .9s;
}
.player{
    top: 657px;
    left: 135px;
    transition: all .9s;
    position: absolute;
    z-index: 9999;
}
.P1{
    text-align: center;
    margin: 10px;
    width: 30px;
    height: 30px;
    background: rgba(0,0,0,0.5);/*turquoise*/
    border-radius: 50%;
}
#p1{
    background-color: yellow;
}
#p2{
    background-color: rgb(44, 116, 8);
}
#p3{
    background-color: rgb(0, 221, 255);
}
#p4{
    background-color: rgb(155, 16, 197);
}
.sum{
    width: fit-content;
    background-color: white;
    border-radius: 5px;
    padding: 15px;
}
.sum #sum{
    font-size: 18px;
    font-weight: bold;
}

@media only screen and (max-width: 816px) {
    .ladder {
        bottom: 23%;
        left: 41%;
    }
}
@media only screen and (max-width: 974px) {
    .ladder {
        bottom: 22%;
        left: 41%;
    }
}
@media only screen and (max-width: 772px) {
    .ladder {
        bottom: 22%;
        left: 40%;
    }
}